<div class="container">
  <div style="text-align: center;" class ="col"><h1>{{title}}</h1></div>
  <br/>
  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="marca"> Marca</label>
      <input type="text" name="marca" id="marca"
       placeholder="Marca" class="form-control" [(ngModel)]="cuadroMarca">
    </div>

    <div class="form-group col-md-3">
      <label for="modelo"> Modelo</label>
      <input type="text" name="modelo" id="modelo"
       placeholder="Modelo" class="form-control" [(ngModel)]="cuadroModelo">
    </div>

    <div class="form-group col-md-3">
      <label for="matricula"> Matrícula</label>
      <input type="text" name="matricula" id="matricula"
       placeholder="Matricula" class="form-control" [(ngModel)]="cuadroMatricula">
    </div>

    <div class="form-group col-md-3">
      <label for="poliza"> Póliza</label>
      <input type="text" name="poliza" id="poliza"
       placeholder="Poliza" class="form-control" [(ngModel)]="cuadroPoliza">
    </div>

    <div class="col">
      <button type="submit" style="margin-top: 25px;"      class="btn btn-primary" (click)="incluirPoliza()">Agregar Seguro</button>
    </div>
  </form>
</div>
<br/>



<app-seguro-hijo *ngFor="let seguro of seguros; let i=index" [segEnLista]="seguro" [indice]="i"></app-seguro-hijo>

 <!--
<div  class="container">
  <div class="row" *ngFor="let seguro of seguros">
       {{seguro.marca}} {{seguro.modelo}} {{seguro.matricula}} {{seguro.poliza}}
  </div>
</div>
-->
<router-outlet />
